body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}
.condition {
    padding: 50px;
    font-family: Poppins;
  }

  .refund h1 {
    font-size: 27px;
    margin-bottom: 15px;
  }

  .refund1 p {
    font-size: 17px;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.836);
  }